@media (max-width: 1000px) {
  .SidebarItems {
    background-color: #232323;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 100;
  }

  .nav-menu {
    transition: transform 1s ease;
    transform: translateX(100%);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    list-style-type: none;
    width: 150px;
  }

  .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
  }

  .nav-menu:active {
    transform: translate(0);
    list-style-type: none;
  }

  .side-bar-item {
    list-style-type: none;
  }
}
