@font-face {
  font-family: LeagueSpartan;
  src: url(../public/fonts/LeagueSpartan-Light.ttf);
}

@font-face {
  font-family: BirthStone;
  src: url(../public/fonts/Birthstone-Regular.ttf);
}

.App {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #232323;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  font-weight: 500;
  font-size: 110%;
  height: 61px;
  margin: 0px;
  padding: none;
  font-family: LeagueSpartan;
  border: none;
  padding: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  margin: 20px;
}

.signature {
  font-family: BirthStone;
  font-size: 150%;
  color: #99a8ff;
  margin: 2%;
}

.seperator {
  font-size: 150%;
}
