@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

hr.rounded {
  border: 2px solid #99a8ff;
  border-radius: 5px;
  margin: none;
}

/* Body element that encloses */
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  overflow: auto;
  background-color: #121212;
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  scroll-behavior: smooth;
  scrollbar-color: #121212;
}

/* Navitation bar */

.navbar {
  background-color: #232323;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  font-weight: 600;
  font-size: 130%;
  height: 8.5%;
  padding: none;
  font-family: League Spartan;
  border: none;
  padding: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  margin: 1.5%;
  font-weight: 500;
}

.signature {
  font-family: BirthStone;
  font-size: 140%;
  color: #99a8ff;
  margin-left: 4.5%;
  margin-right: 3%;
  transform: translateY(-0.7px);
}

.seperator {
  font-size: 190%;
  font-weight: 500;
  margin: none;
  padding: none;
  transform: translateY(5%);
}

/* About me section */

.about-me {
  margin-top: 16%;
  font-family: League Spartan;
  color: #f9f9f9;
  display: block;
  margin-bottom: 14%;
}

.title {
  font-family: Barlow;
  color: #99a8ff;
  font-size: 150%;
  margin: 0;
  font-weight: 500;
}

.name {
  font-family: Barlow;
  margin-bottom: 0.7%;
  font-size: 300%;
}

.about-me-intro {
  line-height: 140%;
  margin-top: 2.5%;
  font-size: 140%;
  font-family: League Spartan;
  font-weight: 300;
}

.purple-headers-generic {
  color: #99a8ff;
  font-size: 100%;
  justify-content: center;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-layout {
  font-family: League Spartan;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 106%;
}

.project {
  background-color: #232323;
  border-radius: 1%;
  width: 360px;
  height: 380px;
  margin: 2%;
  padding: 1.5%;
  flex-wrap: wrap;
}

.project-title {
  font-family: Barlow;
  font-weight: 600;
  font-size: 180%;
  display: block;
  margin-top: 0px;
  margin-bottom: 18px;
}

.project-content {
  margin-top: 18px;
  line-height: 120%;
  font-size: 120%;
  font-weight: 500;
  font-family: League Spartan;
  font-weight: 300;
}

.technical-skills-section {
  font-family: Barlow;
  color: #99a8ff;
}

.purple-headers-generic2 {
  color: #99a8ff;
  font-size: 300%;
  text-align: center;
  margin-top: 10%;
}

.purple-mini-header {
  font-size: 180%;
}

.shield-container {
  padding: none;
  margin: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.5%;
  background-color: rgb(156, 68, 68);
}

.shield {
  width: 150%;
  flex-grow: 1;
}

.shield-component {
  margin: none;
  padding: none;
}
