@font-face {
  font-family: LeagueSpartan;
  src: url(../public/fonts/LeagueSpartan-Light.ttf);
}

@font-face {
  font-family: BirthStone;
  src: url(../public/fonts/Birthstone-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(../public/fonts/Barlow-Regular.ttf);
}

/* Body element that encloses */
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  overflow: auto;
  background-color: #121212;
  display: inline-flex;
  padding-left: 7%;
  padding-right: 7%;
}

/* Navitation bar */

.navbar {
  background-color: #232323;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  font-weight: 600;
  font-size: 100%;
  height: 8.5%;
  padding: none;
  font-family: LeagueSpartan;
  border: none;
  padding: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  margin: 1.5%;
  font-weight: 500;
}

.signature {
  font-family: BirthStone;
  font-size: 140%;
  color: #99a8ff;
  margin-left: 4%;
  margin-right: 3%;
  transform: translateY(-0.7px);
}

.seperator {
  font-size: 190%;
  font-weight: 500;
  margin: none;
  padding: none;
}

/* About me section */

.about-me {
  margin-top: 11%;
  font-family: LeagueSpartan;
  color: #f9f9f9;
}

.title {
  font-family: Barlow;
  color: #99a8ff;
  font-size: 100%;
  margin: 0;
}

.name {
  font-family: Barlow;
  margin-bottom: 0.7%;
}

.about-me-intro {
  line-height: 130%;
  margin-top: 2.5%;
  font-size: 105%;
}
