@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Birthstone&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Body element that encloses */
body {
  margin: 0;
  padding: 0;
  margin-top: -40px;
}

.App {
  margin: 0;
  overflow: auto;
  background-color: #121212;
  display: block;
  padding-left: 7%;
  padding-right: 7%;
  scroll-behavior: smooth;
  scrollbar-color: #121212;
}

/* Navitation bar */

.navbar {
  background-color: #232323;
  display: flex;
  align-items: center;
  color: #f9f9f9;
  font-weight: 600;
  font-size: 130%;
  height: 8.5%;
  padding: none;
  font-family: League Spartan;
  border: none;
  padding: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

a {
  margin: 1.5%;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 2px;
  width: 100%;
  left: 0;
  background-color: #99a8ff;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
}

a:hover::after {
  transform: scaleX(1);
}

a:hover {
  transition: 0.5s;
}

.as {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.signature {
  font-family: BirthStone;
  font-size: 140%;
  color: #99a8ff;
  margin-left: 4.5%;
  margin-right: 3%;
  transform: translateY(-0.7px);
  cursor: pointer;
}

.seperator {
  font-size: 190%;
  font-weight: 300;
  margin: none;
  padding: none;
  transform: translateY(5%);
  cursor: unset;
}

.seperator::after {
  display: none;
}

/* About me section */

.about-me {
  margin-top: 16%;
  font-family: League Spartan;
  color: #f9f9f9;
  display: block;
  margin-bottom: 14%;
}

.title {
  font-family: Barlow;
  color: #99a8ff;
  font-size: 140%;
  margin: 0;
  font-weight: 500;
}

.name {
  font-family: Barlow;
  margin-bottom: 0.7%;
  font-size: 300%;
  font-weight: 500;
}

.about-me-intro {
  line-height: 140%;
  margin-top: 2.5%;
  font-size: 140%;
  font-family: League Spartan;
  font-weight: 300;
}

.purple-headers-generic {
  color: #99a8ff;
  justify-content: center;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-layout {
  font-family: League Spartan;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 106%;
}

.project {
  background-color: #232323;
  border-radius: 1%;
  width: 360px;
  height: 380px;
  margin: 2%;
  padding: 1.5%;
  flex-wrap: wrap;
}

.project-title {
  font-family: Barlow;
  font-weight: 600;
  font-size: 180%;
  display: block;
  margin-top: 0px;
  margin-bottom: 18px;
}

.project-content {
  margin-top: 18px;
  line-height: 120%;
  font-size: 120%;
  font-weight: 500;
  font-family: League Spartan;
  font-weight: 300;
}

.technical-skills-section {
  font-family: Barlow;
  color: #99a8ff;
}

.purple-headers-generic2 {
  color: #99a8ff;
  font-size: 300%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 4%;
}

.purple-mini-header {
  font-size: 180%;
  font-weight: 500;
}

.shield-container {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.shield {
  width: 100%;
  height: 35px;
  margin: 0;
}

.shield-component {
  padding: 0;
  width: fit-content;
}

.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  align-items: flex-start; /* aligsn item so start at top of flex box*/
  margin-bottom: 50%;
}

form {
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 50%;
  padding: 3px;
}

textarea {
  width: 100%;
  height: 200px;
  resize: vertical; /* Allow vertical resizing */
  border-width: 10px;
  border-color: #d9d9d9;
  background-color: #232323;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 12px;
  resize: none;
  padding: 7px;
  border-radius: 6px;
  box-sizing: border-box; /* This ensures that padding and border are included in the total width */
  font-family: Barlow;
  color: #ffffff;
  font-size: 16px;
}

input {
  width: 100%;
  padding: 7px;
  height: 50px;
  border-width: 1px;
  border-color: #d9d9d9;
  border-style: solid;
  box-sizing: border-box;
  background-color: #232323;
  border-radius: 6px;
  font-family: Barlow;
  color: #ffffff;
  font-size: 16px;
}

::placeholder {
  font-family: Barlow;
  font-size: 16px;
  color: #d9d9d9;
}

.submit-button {
  border-width: 2px;
  border-color: #99a8ff;
  border-style: solid;
  border-radius: 6px;
  padding: 10px;
  background-color: #99a8ff;
  font-family: Barlow;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  width: 120px;
  align-self: flex-end;
}

.joiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-content: flex-start;
  gap: 13px;
  margin-bottom: 12px;
}

.name-input,
.email-input {
  width: 100%;
  box-sizing: border-box;
}

.name-input {
  grid-column: 1;
}

input:focus,
textarea:focus {
  border-color: #99a8ff;
  transition: 0.4s;
  opacity: 0.8;
}

.email-input {
  grid-column: 2;
}

.contact-writing {
  font-family: Barlow;
  color: #99a8ff;
  font-weight: lighter;
  font-size: 150%;
  font-weight: 400;
  margin-left: 5%;
  margin-right: -2%;
  margin-top: 20px;
  width: auto;
  white-space: nowrap;
}

h1 {
  font-weight: 500;
  font-size: 50px;
}

.contact-description {
  padding-left: 4px;
  line-height: 140%;
  color: #d9d9d9;
  margin-top: 2.5%;
  white-space: normal;
  font-size: 22px;
  font-family: League Spartan;
  font-weight: 400;
  padding-right: 80px;
}

.adjust {
  height: 5px;
  width: 650px;
}

.hidden {
  display: none;
}
